<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code.app18012022">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App18012022">
        <activity
            android:name=".LearningActivity"
            android:exported="false" />
        <activity
            android:name=".ScanDocActivity"
            android:exported="false" />
        <activity
            android:name=".ScheduleInterviewActivity"
            android:exported="false" />
        <activity
            android:name=".MatchingJobsActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterEmailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginWithEmailActivity"
            android:exported="false" />
        <activity
            android:name=".PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".InterviewStatusActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HRChatActivity"
            android:exported="false"
            android:label="@string/title_activity_hrchat"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ScanQRscreenActivity"
            android:exported="false" />
        <activity
            android:name=".JoinMeetingActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".RequestInterviewActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UploadResumeActivity"
            android:exported="false"
            android:label="Upload Resume"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OTPActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>